# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.

* @DiogoBatista @jeroenknol @Iar0
*.md @RomyHartendorp